body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#intro {
    width: 100vw;
    height: 100vh;
    background-image: url("images/background.jpg");
    background-size: 100% 100%;
}

#intro div {
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 75%;
}

#intro div h1 {
    font-size: 3rem;
    margin: 0;
}

#intro div h3 {
    font-size: 1.5rem;
}

form {
    text-align: center;
}
form #search-container {
    background-color: white;
    flex-direction: row;
    padding: 5px 20px;
    border-radius: 10px;
    height: 25px;
}

form #search-container #search {
    border: none;
    margin-left: 20px;
    font-size: 16px;
}

form #search-container #search:focus {
    border: none;
    outline: 0;
}

form button {
    font-size: 16px;
    padding: 10px 20px;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 20px;
    justify-self: center;
    cursor: pointer;
}

#results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 10px;
    /* background-color: #0B0C10; */
    background: hsla(0, 0%, 0%, 1);
    background: linear-gradient(135deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 79%, 4%, 1) 50%, hsla(357, 68%, 22%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 79%, 4%, 1) 50%, hsla(357, 68%, 22%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(0, 0%, 0%, 1) 0%, hsla(0, 79%, 4%, 1) 50%, hsla(357, 68%, 22%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#110202", GradientType=1 );
}

#results .result {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    background-color: #601216;
    border: 3px solid #ADAAA5;
    border-radius: 10px;
    box-shadow: 10px 5px 15px black;
    cursor: pointer;
}

#results .result img {
    width: 100%;
    height: 250px;
    border-radius: 5px 5px 0 0;
}

#results .result .result-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    color: white;
    /* margin-left: 5%; */
}

#results .result .result-info p {
    margin: 0;
}

#topscroll {
    display: none;
    width: 75px;
    height: 75px;
    background-color: #ADAAA5;
    text-align: center;
    position: fixed;
    border-radius: 50%;
    box-shadow: 10px 5px 20px black;
    cursor: pointer;
    /* position: sticky; */
    left: 90%;
    top: 85%;
}

#topscroll p {
    font-size: 60px;
    margin: 0;
    padding: 0;
}

#pagination {
    background-color: #1C0304;
    padding: 10px 0;
}

#pagination #pagination-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
}

#pagination #pagination-list .page {
    background-color: #601216;
    color: white;
    width: 25px;
    height: 25px;
    font-size: 20px;
    border: 2px solid white;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    margin: 5px 5px 0;
    cursor: pointer;
}

#title-info {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #ADAAA5;
    top: 0%;
}

#title-info-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

#title-info-header h1 {
    font-size: 32px;
    margin: 0;
}

#title-info-header button {
    background-color:#0B0C10;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    padding: 20px 25px;
    cursor: pointer;
}

#title-info-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* #title-info-body #title-poster {
    width: 25%;
    height: 75%;
} */

#title-info-body div {
    width: 30%;
    height: 500px;
    overflow-y: scroll;
}

#title-info-body p {
    width: 40%;
}

#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50px;
}

footer {
    padding: 20px;
    background-color: #0B0C10;
    color: #ADAAA5;
    text-align: center;
}

@media (max-width: 850px) {
    #results .result {
        width: 45%;
    }

    #topscroll {
        left: 40%;
    }
}

@media (max-width: 720px) and (orientation: portrait){
    #intro {
        background-size:cover;
        background-position:top
    }
    
    #intro div h2 {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    #results .result {
        width: 80%;
    }
}
